body {
  background-color: #30475e;
  font-size: 1.1em;
  font-family: 'Open sans', sans-serif;
  text-align: center;
}

h1 {
  color: #e5e5e5;
  font-weight: 750;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
}

hr {
  border-style: dashed;
  border-width: 2px;
  color: grey;
  width: 10%;
  margin: 10px auto;
  padding: 0;
}

p {
  font-weight: 500;
  color: #ececec;
}

ul {
  text-align: left;
  margin-top: 20px;
}

li {
  list-style: none;
  padding: 10px 20px;
  color: #ececec;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid #222831;
  border-radius: 5px;
  margin: 0 205px 10px 100px;
  margin-bottom: 10px;
  background: #222831;
  -moz-transition: all 0.5s ease;
}

li:hover {
  background: #ececec;
  color: #222831;;
}

li>button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: #30475e;
  font-weight: 600;
}

input {
  border-radius: 5px;
  min-width: 65%;
  padding: 5px;
  border: none;
}

.done {
  background-color: #aacfcf;
  color: #30475e;

}

.container {}

.row {
  margin: 0 0 0 0;
}

.input-field {
  border-radius: 10px;
  padding: 12px 20px
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: #ececec;
  background-color: #222831;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75 ease;
  font-weight: bold;
}

#enter:hover {
  color: #30475e;
  background-color: #6886c5;
}

.done {
  background: #aacfcf !important;
  color: #30475e;
}

.delete {
  display: none;
}